:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #45c853;
  --secondary-dark: #21596e;
  --accent-dark: #2b5891;
  --dropshadow-size: 0.3em;
  color-scheme: dark;
  color: #e4f7e6;
  background-color: #0a100b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}