:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #45c853;
  --secondary-dark: #21596e;
  --accent-dark: #2b5891;
  --dropshadow-size: 0.3em;
  color-scheme: dark;
  color: #e4f7e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("./fern.jpg");
  background-color: #425a50;
  background-size: cover;
  background-blend-mode: overlay
}